.img {
    width: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: 14px;
}

.avatar {
    width: 40px;
    border-radius: 50px;
}