#contact{
    border-right: 1px solid black;
}

#card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
#card:hover{
    background-color:#decce4;
    border-radius: 9px ;
    border: 1px solid #f5cf66;
    cursor: pointer;
}

#users{
    margin-left: 15px;
}

.img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 20px;
}
